/* stylelint-disable indentation */
/* stylelint-disable rule-empty-line-before */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #6070ff;
  --header-color: #172b4d;
  --paragraph-color: #344563;
  --white-bg-color: #fff;
  --enabled-btn-color: #7f8cff;
  --border-gray-color: #dfe1e6;
  --text-soft-white-color: #ebebff;
  --active-btn-color: #2230d2;
  --disabled-btn-color: #5e6c84;
}

@media only screen and (min-width: 250px) {
  body {
    width: 100vw;
  }

  header {
    width: 250px;
    position: fixed;
    background-color: var(--white-bg-color);
    padding-top: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  #logo {
    margin-left: 0;
    transition: transform 0.4s ease-in-out;
  }

  #logo:hover {
    transform: scale(1.1);
  }
  #hamburger {
    display: block;
    margin-inline: 0;
    transition: transform 0.4s ease-in-out;
  }

  #hamburger:hover {
    transform: scale(1.1);
  }
  #hamburger.active {
    float: right;
    margin-top: 20px;
    margin-right: 35px;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--primary-color);
  }
  #headline.active {
    filter: blur(4px);
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--white-bg-color);
  }
  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--white-bg-color);
  }

  #nav-menu {
    background-color: #ff60f2;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0%;
  }

  .nav-link {
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }

  .nav-link a {
    text-decoration: none;
    color: var(--paragraph-color);
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }

  .nav-link a:hover {
    color: var(--primary-color);
  }
  #nav-container {
    display: none;
  }
  #headline {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-color: #2230d2;
  }

  #headline-content {
    width: 250px;
    margin-top: 50px;
    background-color: #2230d2;
  }

  #headline .header {
    font-size: 48px;
    line-height: 60px;
    margin-top: 0;
  }

  .portfolio-description {
    font-size: 20px;
    line-height: 28px;
    color: blueviolet;
    margin-left: 0;
  }

  .lets-connect {
    font-size: 16px;
    margin-top: 40px;
  }
}
